/*Change background color to green*/
body {
	background-color: green;
	}
a {font-size: 1.5em}
td {
	padding: 15px;
	font_size: 1.75em;
	}

img {
  	width: 600px;
  	height: 400px;
	float:left;
	}
form {
  text-align: center;
}

/*Change header 1 to align the text center,
set the font size to 3em, the font family to Elephant,
and per teacher's request the font color to purple
 */
h1 {
	text-align: center;
	font-size: 3em;
	font-family: Elephant, serif;
	color: purple;
	}
/*Change font size of header 2 to 2em*/
h2 {
	font-size: 2em;
	}
/*Change font size of header 3 to 2em*/
h3 {
	font-size: 1.75em;
	}
/*Set font size of the paragraphs to 1.5em*/
p {
	font-size: 1.5em;
	clear: left;
}
/*Adjust the pre formated text to also be font size 1.5em*/
pre {
	font-size: 1.5em;
}

